@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 221, 235, 240;
  --background-start-rgb: 10, 11, 13;
  --background-end-rgb: 7, 8, 9;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}
